<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Australian Travel Agency</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/static/app/img/favicon.png" rel="icon">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/app/css/main.min.css" rel="stylesheet">
    </head>

    <body>
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
        </div>

        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
            <a href="#" class="navbar-brand ps-5 me-0">
                <h1 class="text-white m-0">Australian Travel Agency</h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#hotel" class="nav-item nav-link">Casino Hotels</a>
                </div>
                <a href="#contact" class="btn btn-primary px-3 d-none d-lg-block">Get In Touch With Us</a>
            </div>
        </nav>

        <section class="mt-5">
            <div class="container">
                <div class="about">
                    <h2>Best Casino Hotels to Visit in Australia</h2>
                    <p>There is no shortage of outstanding casinos in Australia. But for travelers and those who want to get
                        away for a few days and enjoy a loaded gambling spree, an in-and-out casino may not always be
                        enough.
                        Thankfully, casino hotels offer the opportunity to hop out of a comfortable bed, have a delicious
                        breakfast on-site, and take but a few steps to slot machines and table games. Take a break when you
                        need, dip your toes in the lush pool, and get back to winning money without ever leaving the
                        facility -
                        what a joy. But while there are hundreds of options for such luxury in Australia, not all offer the
                        same
                        grand experience you pictured in your head while reading this.
                    </p>
                    <p>
                        Because a hotel offers gambling entertainment, you’re not always guaranteed the utmost convenience
                        or quality casino games. Since you pay money for your casino hotel experience, get the best bang for
                        your buck by ensuring that the qualities of both aspects are balanced. The best way to do that is by
                        comparing available options, but since there is an unending list of casino hotels in Australia,
                        we’ve narrowed down the choices leaving you with our favorite picks. The following options will make
                        the hotel stay unforgettable and offer a gambling experience you won’t forget.
                    </p>
                </div>
            </div>
        </section>

        <section id="hotel">
            <div class="container-xxl py-5 hotels">
                <div class="container">
                    <div class="row g-5 align-items-center hotel-item">
                        <div class="col-lg-6 wow fadeInUp " data-wow-delay="0.1s">
                            <div class="position-relative me-lg-4 hotel-img">
                                <img class="img-fluid w-100" src="/static/app/img/pulman-reef.jpg" alt="">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <p class="fw-medium text-uppercase text-primary mb-2 hotel-name">PULMAN REEF HOTEL CASINO</p>
                            <p class="mb-4">When was the last time you swam in a rooftop pool while gazing at the reef
                                surrounded by palm trees? Pullman Reef Hotel Casino offers that and more. Room with a
                                jacuzzi
                                spa? You got it. A balcony with an outstanding view? Absolutely! While the rooms are
                                breathtaking, the rest of the experience is just as astonishing. This 5-star hotel
                                experience
                                will leave you breathless with modern yet sophisticated touches that meet the eye. Coffee,
                                desserts, crafted cocktails, and four options for fine dining will fill you with energy for
                                your
                                special Reef Casino gambling session.
                            </p>
                            <p>
                                More than 500 slot machines and dozens of games, including roulette, baccarat, and
                                blackjack,
                                sic-bo, paradise pontoon, the money wheel, will keep you entertained for hours. Unless, of
                                course, you have your little ones to take care of, in which case you can request a
                                complimentary
                                babysitter! Better yet - you can sleep in and party late, as casino entertainment is
                                available
                                from 10 am - 2 am.
                            </p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <p class="fw-medium text-uppercase text-primary mb-2 hotel-name">JUPITERS GOLD COAST</p>
                            <p class="mb-4">
                                If you’re looking for a mellow, royal experience, Jupiters Gold Coast is always
                                there to deliver. You might get startled when you wake up forgetting that you’re in a hotel
                                since every room looks like a billionaire’s condo. And while it is difficult to leave the
                                gorgeous suits, missing out on the rest of the hotel’s amenities would be a grave mistake.
                                Each
                                of the eight restaurants and bars will offer mouthwatering creations from passionate
                                masters,
                                and the Azure Spa will be right there to relax you before you go into shock from taste bud
                                sensory overload.
                            </p>
                            <p>
                                As soon as you’re ready to try your luck at the Gold Coast Casino, 70 table games and 1400
                                will
                                be awaiting your arrival. If you somehow manage to try each available game, the ongoing
                                tournaments and the Sovereign VIP gambling lounge will keep you entertained for as long as
                                you
                                can stand it. Here is a cherry on top - you can now experience the modern technology of 300
                                electronic gaming machines, 20 electronic table games, some of which will be available 24/7.
                            </p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative me-lg-4 hotel-img">
                                <img class="img-fluid w-100" src="/static/app/img/jupiter-gold-coast.jpg" alt="">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative me-lg-4 hotel-img">
                                <img class="img-fluid w-100" src="/static/app/img/ville-resort.jpg" alt="">

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <p class="fw-medium text-uppercase text-primary mb-2 hotel-name">THE VILLE RESORT – CASINO</p>
                            <p class="mb-4">Simplicity is key to relaxation, and no one does it better than The Ville Resort
                                &
                                casino. Minimalistic yet stylish rooms will help clear your mind of any distractions before
                                your
                                9 am - 5 am gambling spree offering 370 gaming machines and more than 20 table games. The
                                anticipation of winning will be the most intense part of the stay - the rest of the
                                experience
                                is as laid back as a sloth after a full meal.
                            </p>
                            <p>
                                While “zen” is the most fitting word describing The Ville Resort, it is also quite romantic.
                                It’s the kind of place where you can take your lady, blow her mind with the amorous
                                amenities,
                                and not feel guilty for spending a hefty chunk of time gambling - the hotel simply leaves no
                                room for any stress. The top-notch convenience level, comfortable atmosphere, and soothing
                                dining will keep you in a constant level of meditation. There are also function
                                opportunities
                                for weddings and other romantic events. But don’t get too carried away if you’re there with
                                “someone new” - the overall mesmerizing stay may just lure you into feel-good decisions
                                before
                                you snap back to reality.
                            </p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <p class="fw-medium text-uppercase text-primary mb-2 hotel-name">CROWN MELBOURNE</p>
                            <p class="mb-4">Can’t decide if you want to stay somewhere with a city view, or right across a
                                gorgeous river surrounded by small islands? You can have both at the Crown Melbourne
                                Brisbane.
                                You won’t even have to leave the building to take in the view, as each luxurious villa comes
                                with massive windows three times your size. For a more affordable stay, you can get a room
                                with
                                decor that will be just as eye-pleasing as the view. The buffets and restaurants won’t
                                disappoint with the rich selection of authentic cuisines and specialty drinks. The bar
                                offers
                                the kind of atmosphere you would only see in classic movies. Convenient seating, unique
                                chandeliers with cozy lighting, and the barstool section attended by fancy-looking
                                mixologists
                                will make you feel like the main character.
                            </p>
                            <p>
                                The gambling opportunities at Crown Melbourne are simply too good for words. You might get
                                lost
                                in the 220,000 square feet casino section, so pay attention to where you’re going. Royal
                                table
                                gambling opportunities, hundreds of slots, and scheduled promotions are superb, and even
                                checking out the facility without making a single bet will be worth the travel.
                            </p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative me-lg-4 hotel-img">
                                <img class="img-fluid w-100" src="/static/app/img/crown-melbourne.jpg" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>




        <section id="contact">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <p class="fw-medium text-uppercase text-primary mb-2">Contact Us</p>
                            <h1 class="display-5 mb-4">If You Have Any Queries, Please Feel Free To Contact Us</h1>
                            <div class="row g-4">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                                            <i class="fa fa-envelope text-white"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6>Mail Us</h6>
                                            <span>aus@autragency247.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 btn-square bg-primary rounded-circle">
                                            <i class="fa fa-envelope text-white"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6>Mail Us</h6>
                                            <span>visit@autragency247.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <form method="post" action="/contact/">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary py-3 px-5" id="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container text-center">
                <p class="mb-2">Copyright &copy; <a class="fw-semi-bold" href="/">Australian Travel Agency</a>, All Right Reserved.
                </p>
            </div>
        </div>
        <script src="/static/app/js/main.min.js"></script>

        <script>
            document.getElementById("submit").addEventListener('click', (e) => {
                e.preventDefault();
                const request = new Request(
                    '/contact/',
                    {
                        body: JSON.stringify({
                            "Name": document.getElementById("name").value,
                            "Email": document.getElementById("email").value,
                            "Subject": document.getElementById("subject").value,
                            "Message": document.getElementById("message").value,
                        }),
                        cache: 'no-cache',
                        credentials: 'same-origin',
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                        mode: 'cors',
                        redirect: 'follow',
                    }
                );

                fetch(request)
                    .then(response => {
                        console.log(response)
                        if (response.redirected === true) {
                            location.href = response.url;

                            return;
                        } else {
                            if (!response.ok) {
                                info = {
                                    "status": response.status,
                                    "body": response.json()
                                }

                                return Promise.reject(info);
                            }

                            return response.json();
                        }
                    }).then(response => {
                        console.log(response);
                        alert("OK");
                    }).catch(function (error) {
                        console.log(error);

                        error.body.then((err) => {
                            //console.log("error", error.status, err)
                            alert("Fail " + err.message);
                        })
                    }).catch(function (error) {
                        console.log(error);
                        alert("Fail");
                    });
            }, false)
        </script>
    </body>

</html>