<!DOCTYPE html>
<html>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mapsjack.com
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" type="image/x-icon" href="/static/app/img/CasinoDays_favicon.png">
        <link rel="stylesheet" href="/static/app/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/app/css/style.css">
    </head>

    <body id="body">
        <div id="__next">
            <div class="MainWrapper_main-wrapper__j4yHb">
                <header class="Header_header__Z8PUO">
                    <a class="Header_header__logo__4UCu_" href="/cuttly/no1/">
                    </a>
                </header>
                <main class="MainSection_main__8Uwdx">
                    <div>
                        <a href="/cuttly/no1/" class="btn">PLAY NOW</a>
                    </div>
                </main>

                <footer>
                    <div class="container-fluid footer-content p-md-2 p-3">
                        <div class="row">
                            <div class="col-md-4 rg-pc d-block m-auto text-center">
                                <a href="/cuttly/no1/" class="me-md-5 me-3">Responsible Gambling</a>
                                <a href="/cuttly/no1/">Privacy Policy</a>
                            </div>
                            <div class="col-md-4 licenses text-center">
                                <img src="/static/app/img/5e6a9ddef969dbfcf0580dd0a5d404e60ad1a7be.png" alt="Federbet">
                                <img src="/static/app/img/a68be63b71e5d76935d705c02b1176885b845653.png" alt="18+">
                                <img src="/static/app/img/c90c45f582790baa4c6e184673699eeee40cb818.png" alt="Gambling Therapy">
                                <img src="/static/app/img/icon4-fab84f44cff3afea3d7836643e8324d6.png" alt="Curaçao eGaming">
                            </div>
                            <div class="col-md-4 sponsors d-block m-auto text-center">
                                <img src="/static/app/img/e7e6f5661296c642fc0803d77ab6678bf0b3f386.png" alt="sponsors">
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script>
            document.getElementById("body").addEventListener("click", () => {
                window.location.href = '/cuttly/no1/';
            })
        </script>
    </body>

</html>